.card-0{
color: red;
background-color:cyan;
border-radius: 10px;
border: solid 5px red;
box-shadow: 0px 0px 10px black;
width: 250px; ;
padding: 5px;
}


.spongebob {
    width: 150px;
    height: 150px;
    border: solid 5px red;
    transition-duration: 0.5s;
    border-radius: 50%;
    }
    .spongebob:hover {
    border: solid 5px purple;
    cursor: pointer;
    transform: scale(1.05);
    }


.card-1{
color: black;
background-color: wheat;
border-radius: 5px;
text-align: center;
border: solid 2px red;
width: 200px;
padding: 5px;
}


.btn-send{
background-color: red;
border-radius: 5px;
border:solid black 2px;
    box-shadow: 0px 0px 10px black;
    transition-duration: 0.5s;
}


.btn-send:hover{
background-color: yellowgreen;
color: magenta;
cursor: pointer;
}

.dropdown-menu{
width: 250px;
}

.register{
    width: 250px;
    color: yellow;
    text-align: center;
    padding-bottom: 5px;
    }

    .col{
        width:300px;
        display:inline-block;
        height:10%;
        padding:5px;
        margin-left:10px;
        /* box-shadow:0 0 10px rgb(0, 255, 255) ; */
    }

    .btn{
        box-shadow: none !important
    }

  .card-img{
    height: 450px;
    border-radius: 5px 5px 0px 0px;
    }

    .card-body{
       background-color: rgb(0, 255, 255);  
        color:whitesmoke;
    }

    .rps-card {
        border: solid gray 1px;
        width: 350px;
        border-radius: 5px;
    }